<h1>New Salesperson</h1>
<div>
    <label for="fname">First Name</label>
    <input type="text" name="fname" id="fname" [(ngModel)]="newSalesperson.firstName"/>
    <label for="lname">Last Name</label>
    <input type="text" name="lname" id="lname" [(ngModel)]="newSalesperson.lastName"/>
    <label for="address">Address</label>
    <input type="text" name="address" id="address" [(ngModel)]="newSalesperson.address"/>
    <label for="phone">Phone Number</label>
    <input type="text" name="phone" id="phone" [(ngModel)]="newSalesperson.phone"/>
    <label for="sd">Start Date</label>
    <input type="date" name="sd" id="sd" [(ngModel)]="newSalesperson.startDate"/>
    <label for="td">Termination Date</label>
    <input type="date" name="td" id="td" [(ngModel)]="newSalesperson.terminationDate"/>
    <label for="manager">Manager</label>
    <input type="text" name="manager" id="manager" [(ngModel)]="newSalesperson.manager"/>
    <button (click)="createNewSalesperson()">Create New Salesperson</button>
</div>
<h1>Salespeople</h1>
<app-salesperson *ngFor="let salesperson of salespeople" [salesperson]="salesperson" [reload]="getSalespeople"></app-salesperson>