<header>
  <ul>
    <li>
      <b>Bespoked</b>
    </li>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/salespeople">Salespeople</a>
    </li>
    <li>
      <a href="/products">Products</a>
    </li>
    <li>
      <a href="/customers">Customers</a>
    </li>
    <li>
      <a href="/discounts">Discounts</a>
    </li>
    <li>
      <a href="/sales">Sales</a>
    </li>
    <li>
      <a href="/report">Report</a>
    </li>
  </ul>
  <hr>
</header>
<router-outlet></router-outlet>